<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578291208242-ta4qs5mjutocuvq7v858b0ud92sem1al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578291208242-ta4qs5mjutocuvq7v858b0ud92sem1al</string>
	<key>API_KEY</key>
	<string>AIzaSyDCXHj2O_A9Z3vssYcJwBb0Kg9xxIeqZs0</string>
	<key>GCM_SENDER_ID</key>
	<string>578291208242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab09google</string>
	<key>PROJECT_ID</key>
	<string>lab09-efb1a</string>
	<key>STORAGE_BUCKET</key>
	<string>lab09-efb1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578291208242:ios:7c55c3b060e63a96e82c2b</string>
</dict>
</plist>